/* Estilos de SICIPAC */
body, html {
	height: 100%;
}

body.login {
	background: url("../images/fondo.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

body.login #mainWrapper {
	display: flex;
	height: calc(100% - 261px);
	align-items: center;
	justify-content: center;
}

header {
	position: relative;
	margin-bottom: 0;
	z-index: 1010;
}

footer {
	position: relative;
	z-index: 999;
}

#mainWrapper {
	min-height: calc(100% - 246px);
	height: auto !important;
}

/********** Login **********/

#loginWrapper {
	float: none;
	padding: 5px 30px 25px;
	margin: 0 auto;
	border: 1px solid #6C1D45;
	background-color: #FFFFFF;
	border-radius: 12px;
	text-align: center;
}

#loginWrapper h3 {
	margin-bottom: 30px;
	font-size: 22px;
	font-weight: bold;
	color: #6C1D45;
}

#loginWrapper label {
	display: block;
	text-align: left;
}

#loginWrapper .form-group {
	margin-bottom: 20px;
}

#loginWrapper #btnIngresar {
	margin-top: 10px;
	width: 100%;
}


/********** Menú lateral **********/

#sidebar {

    width: 200px;

    height: 100%;

    position: fixed;

    background: #FFFFFF;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);

}



.nav-collapse.collapse {

    display: inline;

}



ul.sidebar-menu , ul.sidebar-menu li ul.sub{

    margin: -2px 0 0;

    padding: 0;

}



ul.sidebar-menu {

    margin-top: 45px;

}


#sidebar > ul > li {
	list-style: none;
}


#sidebar > ul > li > ul.sub {

    display: none;

}



#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {

    display: block;

}



ul.sidebar-menu li ul.sub li{

    background: #6C1D45;

    margin-bottom: 0;

    margin-left: 0;

    margin-right: 0;

}



/*ul.sidebar-menu li ul.sub li:last-child{

    border-radius: 0 0 4px 4px;

    -webkit-border-radius: 0 0 4px 4px;

}*/



ul.sidebar-menu li ul.sub li a {

    font-size: 12px;

    padding: 0 0 0 32px;

    line-height: 35px;

    height: 35px;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    -ms-transition: all 0.3s ease;

    transition: all 0.3s ease;

    color: #d0d8df;

    font-size: 14px;

}



ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {

    color: #fff;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    -ms-transition: all 0.3s ease;

    transition: all 0.3s ease;

    display: block;

}



ul.sidebar-menu li{

    line-height: 20px !important;

    /*margin-bottom: 5px;

    margin-left:10px;

    margin-right:10px;*/

    

}

/*ul.sidebar-menu li:hover{

    border-bottom: 1px solid #688a7e;

}*/

ul.sidebar-menu li.sub-menu{

    line-height: 15px;

    font-size: 16px;

}



ul.sidebar-menu li a span{

    display: inline-block;

}



ul.sidebar-menu li a{

    color: #505050;

    text-decoration: none;

    display: block;

    padding: 15px 0 15px 10px;

    font-size: 16px;

    font-weight: 300;

    outline: none;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    -ms-transition: all 0.3s ease;

    transition: all 0.3s ease;

    border-right: 1px solid transparent;

    border-bottom: 1px solid transparent;

}

/*ul.sidebar-menu li a i{

    position: relative;

    top: 2px;

}*/

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {

    background-color: #6C1D45;

    color: #FFFFFF;

    display: block;

    /*border-radius: 4px;

    -webkit-border-radius: 4px;*/

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    -ms-transition: all 0.3s ease;

    transition: all 0.3s ease;        

}

ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {

    border-bottom: 1px solid #FFFFFF;
    background-color: #8C5069;

}

/*ul.sidebar-menu li.active a,*/ ul.sidebar-menu .sub-menu li.active a{

    border-bottom: 1px solid #d0d8df;   

}



ul.sidebar-menu li a i {

    font-size: 18px;

    padding-right: 6px;

    /*color: #688a7e;*/

}



ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {

    color: #fff;

}



ul.sidebar-menu li.active a i {

    color: #fff;

}





#sidebar ul > li > a .arrow {

    border-bottom: 4px solid transparent;

    border-left: 4px solid #A0A0A0;

    border-top: 4px solid transparent;

    float: right;

    height: 0;

    margin-right: 10px;

    margin-top: 6px;

    width: 0;

}

#sidebar ul > li > a .menu-arrow { 

    float: right;    

    margin-right: 8px;

    margin-top: 6px;    

}

#sidebar > ul > li > a .arrow.open {

    border-left: 4px solid transparent;

    border-right: 4px solid transparent;

    border-top: 5px solid #A0A0A0;

    float: right;

    height: 0;

    margin-right: 10px;

    margin-top: 8px;

    width: 0;

}



#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow {

    float: right;

    margin-top: 6px;

    margin-right: 10px;

    width: 0;

    height: 0;

    border-left: 4px solid #d0d8df;

    border-top: 4px solid transparent;

    border-bottom: 4px solid transparent;

}



#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open {

    float: right;

    margin-top: 8px;

    margin-right: 10px;

    width: 0;

    height: 0;

    border-top: 5px solid #d0d8df;

    border-left: 4px solid transparent;

    border-right: 4px solid transparent;

}



.mail-info, .mail-info:hover {

    margin: 3px 6px 0 0;

    font-size: 11px;

}






.box1 {

    font-size: 16px;

    display: inline-block;

    width: 25%;

    padding: .25em .5em;

    margin: 20px 10px 0 0;

}

.header {

    position: fixed;
    
    min-height: 45px;

    padding: 0 15px;

    left: 0;

    right: 0;

    z-index: 1002;

}



.white-bg {    

    background: rgba(255,255,255,0.9);

    border-bottom: 1px solid #f1f2f7;

}

.dark-bg {    

    background: #4C132F;

    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;

}

.panel-content{

    padding: 10px;

}

.wrapper {

    display: inline-block;

    margin-top: 60px;

    padding: 15px;

    width: 100%;

}



a.logo {

    font-size: 22px;

    font-weight: 300;

    color: #fed189;

    float: left;

    margin-top: 5px;

    text-transform: uppercase;

}



a.logo:hover, a.logo:focus {

    text-decoration: none;

    outline: none;

}



a.logo span {
	font-size: 14px;
    color: #ABABAB;

}





/*notification*/



#top_menu .nav > li, ul.top-menu > li {

    float: left;

}

.search-row {

    float: left;

    margin-top: 15px;

    margin-left: 16px;

}

.notification-row {

    float: right;

    margin-top: 0;

    margin-left: 65px;

}

#task_notificatoin_bar, #mail_notificatoin_bar, #alert_notificatoin_bar{

    margin-top: 7px;

}



ul.top-menu > li > a {

    color: #fed189;

    font-size: 18px;    

    padding: 2px 6px;

    margin-right: 15px;

}



ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {    

    background: transparent !important;

    color: #D7D7D7 !important;

}



.notification-row .badge {

    position: absolute;

    right: -4px;

    top: 0px;

    z-index: 100;

    border-radius: 9px;

    min-width: 18px;

    height: 18px;

    text-align: center;

    padding: 3px 5px;

    background: #00a0df;

    font-weight: 400;

}

.badge {    

    border-radius: 9px;

    min-width: 18px;

    height: 18px;

    text-align: center;

    padding: 3px 5px;

    background: #00a0df;

}



.dropdown-menu.extended {

    max-width: 300px !important;

    min-width: 160px !important;

    top: 42px;

    width: 235px !important;

    padding: 0;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;

    border: none !important;

    border-radius: 4px;

    -webkit-border-radius: 4px;

}

.navbar-form{

    padding: 0px;

    margin: 0 0 0 10px;    

}



.navbar-form .form-control{

    width: 200px;

    height: 30px;

    background: white url('../img/icons/search-line-icon.png') no-repeat 3px;

    padding-left: 24px;

    margin-top: 1px;    

}

.top-nav .glyphicon-user {
	padding: 5px;
	margin-right: 2px;
	background-color: #FFFFFF;
	border-radius: 50%;
	color: #6C1D45;
}

.top-nav .username {

    font-size: 14px;

    color: #FFFFFF;

}



@media screen and (-webkit-min-device-pixel-ratio:0) {

    /* Safari and Chrome */

    .dropdown-menu.extended  {

        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;

    };

}

/*--sidebar toggle---*/



.toggle-nav {

    float: left;

    padding-right: 15px;

    margin-top: 10px;

}



.toggle-nav .icon-reorder {

    cursor: pointer;

    display: inline-block;

    font-size: 20px;

}





.sidebar-closed > #sidebar > ul {

    display: none;

}



.sidebar-closed #main-content {

    margin-left: 0px;

}



.sidebar-closed #sidebar {

    margin-left: -180px;

}





.top-nav ul.top-menu > li .dropdown-menu.logout {

    width: 200px !important;



}



.top-nav li.dropdown .dropdown-menu {

    float: right;

    right: 0;

    left: auto;

}



.dropdown-menu.extended.logout > li {

    float: left;

    text-align: left;

    width: 100%;

}

.dropdown-menu.extended.logout > li.eborder-top {

    border-top: 2px solid #8C5069 !important;    

}

.dropdown-menu.extended.logout > li:last-child {

    float: left;

    text-align: left;

    width: 100%;

    background: #8C5069;    

}



.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {

    color: #fff;

    border-bottom: none !important;

    text-transform: uppercase;

    background-color: #8C5069 !important;

}



.dropdown-menu.extended.logout > li:last-child > a:hover > i{

    color: #fff;

}

.dropdown-menu > li > a{

    color: #797979;

}

.dropdown-menu.extended.logout > li > a {

    border-bottom: 1px solid #EBEBEB !important;

    font-size: 14px;

    list-style: none;

    padding: 15px 10px !important;

    width: 100%;

    display: inline-block;

}



.dropdown-menu.extended.logout > li > a:hover {

    background-color: #FFFFFF !important;

    color: #2E2E2E;

    border-bottom: 1px solid #FFFFFF !important;

}



.dropdown-menu.extended.logout > li > a:hover i {

    color: #2E2E2E;

}



.dropdown-menu.extended.logout > li > a i {

    font-size: 17px;

}



.dropdown-menu.extended.logout > li > a > i {

    display: inline-block;

    padding-right: 10px

}



.top-nav ul.top-menu > li > a {

    padding: 8px;

    background: none;

    margin-right: 0;

}

.top-nav ul.top-menu > li {

    margin-left: 10px;

}



.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {    

    background: #F1F2F7;



}



.top-nav .dropdown-menu.extended.logout {

    top: 41px;

}



.top-nav .nav .caret {

    border-bottom-color: #A4AABA;

    border-top-color: #A4AABA;

}

.top-nav ul.top-menu > li > a:hover .caret {

    border-bottom-color: #7498f1;

    border-top-color: #7498f1;

}



.log-arrow-up {

    background: url("../img/arrow-up.png") no-repeat;

    width: 20px;

    height: 11px;

    position: absolute;

    right: 20px;

    top: -10px;

}

